---
import Main from "@/components/Main.astro";
import Form from "@/components/page/contactusform/Form.astro";
import Locations from "@/components/page/contactusform/Locations.astro";
import TextElement from "@/components/TextElement";

import { languages } from "@/i18n/ui";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import BaseLayout from "@/layouts/BaseLayout.astro";

const title = "Contact Us TRC";

export async function getStaticPaths() {
  return Object.keys(languages).map((lang) => ({
    params: { lang },
  }));
}

const t = useTranslations(getLangFromUrl(Astro.url.pathname));
const mbcUrl = "https://mbc.gov.kh/complaint";
---

<BaseLayout title={title}>
  <Main>
    <header>
      <TextElement variant="heading" className="text-text text-center">
        {t("contact")}
      </TextElement>
      <TextElement variant="paragraph" className="text-center">
        {t("contact.additionalText")}
        <a
          href={mbcUrl}
          target="_blank"
          rel="noopener noreferrer"
          class="text-primary hover:underline">mbc.gov.kh</a
        >
      </TextElement>
    </header>
    <section aria-label={title} class="py-12">
      <div class="flex flex-col gap-8 md:flex-row">
        <div class="w-full md:w-1/2">
          <Form />
        </div>
        <div class="w-full md:w-1/2">
          <Locations />
        </div>
      </div>
    </section>
  </Main>
</BaseLayout>
