---
import ChairmanCard from "@/components/page/structure/ChairmanCard";

import type { ImageMetadata } from "astro";
import type { AstroComponentFactory } from "astro/runtime/server/index.js";

interface Props {
  title: string;
  image: ImageMetadata;
  name: string;
  Content: AstroComponentFactory;
}

const { title, image, name, Content } = Astro.props as Props;
---

<ChairmanCard title={title} image={image} name={name} client:load>
  <section class="space-y-6 text-white">
    <Content />
  </section>
</ChairmanCard>
