@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto";
  font-weight: 100 200 300 400 500 600 700;
  font-display: optional;
  src:
    url("/assets/fonts/Roboto.woff2") format("woff2"),
    url("/assets/fonts/Roboto.woff") format("woff");
}
@font-face {
  font-family: "Kantumruy Pro";
  font-weight: 100 700;
  font-display: optional;
  src:
    url("/assets/fonts/kantumruypro.woff2") format("woff2"),
    url("/assets/fonts/kantumruypro.woff") format("woff");
}

@layer base {
  :root {
    --background: 240, 100%, 99%;
    --foreground: 0, 0%, 15%;
    --card: 240, 100%, 99%;
    --card-foreground: 240, 100%, 10%;
    --popover: 215 0% 100%;
    --popover-foreground: 215 95% 10%;
    --primary: 223, 68%, 29%;
    --primary-foreground: 0 0% 100%;
    --secondary: 42, 99%, 46%;
    --secondary-foreground: 0 0% 0%;
    --secondary-dark: 47, 57%, 45%;
    --text: 0, 0%, 15%;
    --muted: 177 10% 95%;
    --muted-foreground: 215 0% 40%;
    --accent: 177 10% 90%;
    --accent-foreground: 215 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 215 0% 100%;
    --border: 215 20% 82%;
    --input: 215 20% 50%;
    --ring: 215 61.6% 28.6%;
    --radius: 0.5rem;
    --shadow: 0, 0%, 88%, 0.45;

    --mptc-secondary: 0, 86%, 53%;
    --mptc-secondary-foreground: 0, 86%, 39%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .menu-accordion-item[data-state="open"] {
    color: rgba(236, 166, 1, 1) !important;
    border-style: none !important;
  }

  .nav-svg-color {
    background: hsl(var(--primary));
    padding: 4px;
    border-radius: 4px;
  }
}

.scroll {
  scrollbar-width: thin;
  margin: 15px;
  padding: 10px;
}
