---
import TextElement from "../../TextElement";
import image from "/src/asset/about/chairman-keynote-img.jpg";
import { Image } from "astro:assets";

const visionList = [
  {
    text: "Under the wise leadership of Prime Minister Samdech Akka Moha Sena Padei Techo HUN SEN, the development of the telecommunications and information technology sector, in line with the law, relevant frameworks and the policies of the Royal Government of Cambodia, is a key priority in the public administrative reform programs. This goal is at the core of the Rectangular Strategy, National Strategic Development Plan and political Platform of the Royal Government, aimed at promoting economic growth, employment, equity, and efficiency in the Kingdom of Cambodia.",
  },
  {
    text: "Regulation of the telecommunications and ICT sector with high effectiveness, transparency, and quality, and provision of interest protection to service providers and network and telecommunications service users in line with the policy of the strategic development plan and legal frameworks in force defined by the Royal Government of Cambodia through the Ministry of Post and Telecommunications as the technical guardian are the primary function and duty of the Telecommunication Regulator of Cambodia. These functions are strategically important and cannot be subject to negligence or be overlooked, and the greatest attention shall be paid to their nationwide implementation as per the places, times, and needs of the people with the aim of achieving Cambodian Millennium Development Goals to contribute to promoting investment and development in the sector and to participate in boosting the national economy and alleviating poverty of the people of the Kingdom of Cambodia.",
  },
  {
    text: "The policy provides the Telecommunication Regulator of Cambodia with the approaches and mechanisms for improving the quality and providing its services to the providers and users of telecommunications networks and services as per the needs at various places",
  },
];
---

<div class="flex flex-col gap-8 md:flex-row">
  <div class="w-full md:w-1/2">
    <Image
      src={image}
      alt="chairman’s keynote image "
      sizes="(max-width: 640px) 100vw, (max-width: 768px) 256px, (max-width: 1024px) 256px, 128px"
      quality="high"
      loading="lazy"
      format="webp"
    />
  </div>
  <div class="w-full md:w-1/2">
    <ul class="space-y-3">
      {
        visionList.map((about) => (
          <li>
            <TextElement variant="base">{about.text}</TextElement>
          </li>
        ))
      }
    </ul>
  </div>
</div>
