---
import TextElement from "../../TextElement";
import Chairmankeynote from "/src/asset/about/chairman-keynote-img.webp";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { Image } from "astro:assets";

const t = useTranslations(getLangFromUrl(Astro.url.pathname));
---

<div class="flex flex-col gap-8 md:flex-row">
  <div class="flex w-full flex-col gap-8 md:w-1/2">
    <div>
      <Image
        src={Chairmankeynote}
        alt="chairman’s keynote image "
        sizes="(max-width: 640px) 100vw, (max-width: 768px) 256px, (max-width: 1024px) 256px, 128px"
        quality="high"
        loading="lazy"
        format="webp"
      />
    </div>
  </div>
  <div class="w-full md:w-1/2">
    <ul class="space-y-3">
      <li>
        <TextElement variant="base"
          >{t("about.chairmanKeyNote.paragraph2")}</TextElement
        >
      </li>
      <li>
        <TextElement variant="base"
          >{t("about.chairmanKeyNote.paragraph3")}</TextElement
        >
      </li>
    </ul>
    <ul class="list-disc pl-4">
      <li>
        <TextElement variant="base"
          >{t("about.chairmanKeyNote.list1")}</TextElement
        >
      </li>
      <li>
        <TextElement variant="base"
          >{t("about.chairmanKeyNote.list2")}</TextElement
        >
      </li>
      <li>
        <TextElement variant="base"
          >{t("about.chairmanKeyNote.list3")}</TextElement
        >
      </li>
      <li>
        <TextElement variant="base"
          >{t("about.chairmanKeyNote.list4")}</TextElement
        >
      </li>
    </ul>
  </div>
</div>
