---
import TextElement from "../../TextElement";
import image from "/src/asset/about/mission-vision-img.webp";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { Image } from "astro:assets";

const t = useTranslations(getLangFromUrl(Astro.url.pathname));
---

<div class="flex flex-col gap-8 md:flex-row">
  <div class="w-full md:w-1/2">
    <Image
      src={image}
      alt="mission & vision "
      sizes="(max-width: 640px) 100vw, (max-width: 768px) 256px, (max-width: 1024px) 256px, 128px"
      quality="high"
      loading="lazy"
      format="webp"
    />
  </div>
  <div class="w-full md:w-1/2">
    <ul class="space-y-3">
      <li>
        <TextElement variant="base">{t("about.vision.paragraph")}</TextElement>
      </li>
    </ul>
  </div>
</div>
