---
import TextElement from "../../TextElement";
import image from "/src/asset/about/mission.svg";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { Image } from "astro:assets";

const t = useTranslations(getLangFromUrl(Astro.url.pathname));
---

<div class="flex flex-col gap-8 md:flex-row">
  <div class="flex w-full justify-center md:w-1/2">
    <Image
      src={image}
      alt="mission"
      sizes="(max-width: 640px) 100vw, (max-width: 768px) 256px, (max-width: 1024px) 256px, 128px"
      quality="high"
      loading="lazy"
      format="webp"
    />
  </div>
  <div class="w-full md:w-1/2">
    <ul class="space-y-3">
      <li>
        <TextElement variant="base">{t("about.mission.paragraph1")}</TextElement
        >
      </li>
    </ul>
    <ul class="list-disc pl-4">
      <li>
        <TextElement variant="base">{t("about.mission.list1")}</TextElement>
      </li>
      <li>
        <TextElement variant="base">{t("about.mission.list2")}</TextElement>
      </li>
      <li>
        <TextElement variant="base">{t("about.mission.list3")}</TextElement>
      </li>
      <li>
        <TextElement variant="base">{t("about.mission.list4")}</TextElement>
      </li>

      <li>
        <TextElement variant="base">{t("about.mission.list5")}</TextElement>
      </li>
      <li>
        <TextElement variant="base">{t("about.mission.list6")}</TextElement>
      </li>
      <li>
        <TextElement variant="base">{t("about.mission.list7")}</TextElement>
      </li>
      <li>
        <TextElement variant="base">{t("about.mission.list8")}</TextElement>
      </li>
    </ul>
  </div>
</div>
