---
import { Button } from "@/components/ui/button";
import TextElement from "@/components/TextElement";

import imageEN from "/src/asset/about/trc-structure-english.svg";
import imageKH from "/src/asset/about/trc-structure-khmer.svg";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { Image } from "astro:assets";

const lang = getLangFromUrl(Astro.url.pathname);
const image = lang === "en" ? imageEN : imageKH;

const t = useTranslations(getLangFromUrl(Astro.url.pathname));
---

<section>
  <header>
    <TextElement variant="heading" className="text-text text-center">
      {t("nav.about.trcStructure")}
    </TextElement>
    <TextElement variant="body" className="py-4">
      {t("trcStructure.description")}
    </TextElement>
  </header>
</section>
<section aria-label={"structure of digital security committee"}>
  <div class="w-full py-4">
    <Image
      src={image}
      alt="structure diagram of trc"
      sizes="(max-width: 640px) 100vw, (max-width: 768px) 256px, (max-width: 1024px) 256px, 128px"
      quality="high"
      loading="eager"
      format="webp"
    />
  </div>
</section>
<div class="mx-auto flex max-w-full justify-end py-4">
  <a href="/src/asset/about/downlond structure trc.pdf">
    <Button className="rounded-lg p-6 hover:bg-blue-900">
      {t("trcStructure.download")}
    </Button>
  </a>
</div>
