---
import { getLocalizedRoutes, NavRoutes } from "@/lib/route";

import SocialMedia from "./footer/SocialMedia";
import { MailIcon, MapPinIcon, PhoneIcon } from "./footer/SocialMediaLinks";
import TextElement from "./TextElement";
import { Separator } from "./ui/separator";
import { defaultLang } from "@/i18n/ui";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const locale = getLangFromUrl(Astro.url.pathname) ?? defaultLang;

const navigationItems = getLocalizedRoutes(NavRoutes, locale);

const quickLinks = navigationItems
  .flatMap((item) => item.children || [])
  .filter(
    (child) =>
      child.label === "Mobile Prefixes" ||
      child.label === "Common Codes" ||
      child.label === "Emergency Numbers" ||
      child.label === "ក្បាលលេខទូរស័ព្ទចល័ត" ||
      child.label === "លេខកូដរួម" ||
      child.label === "លេខកូដខ្លីសេវាសាធារណៈ",
  );

const t = useTranslations(getLangFromUrl(Astro.url.pathname));
---

<footer class="mt-auto w-auto bg-primary text-primary-foreground">
  <div class="container w-full py-8 lg:px-6">
    <div class="flex flex-col justify-evenly gap-4 lg:grid-cols-6 lg:flex-row">
      <address class="grid gap-4 not-italic">
        <TextElement variant="mediumtitle">
          {t("telecommunicationRegulatorofCambodia")}
        </TextElement>
        <ul class="grid gap-4">
          <li>
            <a href="tel:+85594858349751" class="flex gap-4 hover:underline">
              <PhoneIcon />
              <span>{t("footer.hotline")}</span>
            </a>
          </li>
          <li>
            <a
              href="mailto:example@gmail.com"
              class="flex gap-4 hover:underline"
            >
              <MailIcon />
              <span>info@trc.gov.kh</span>
            </a>
          </li>
          <li>
            <a
              href="https://maps.app.goo.gl/yuvUgYoDwGXfJ3nz9"
              target="_blank"
              rel="noopener noreferrer"
              class="flex gap-4 hover:underline"
            >
              <MapPinIcon />
              <span>{t("footer.address")}</span>
            </a>
          </li>
        </ul>
      </address>
      <address class="grid gap-4 not-italic">
        <TextElement variant="mediumtitle">
          {t("spokesPersons")}
        </TextElement>
        <ul class="grid gap-4">
          <li>
            <a href="tel:+85594858349751" class="flex gap-4 hover:underline">
              <PhoneIcon />
              <span>{t("footer.phoneNumber")}</span>
            </a>
          </li>
          <li>
            <a
              href="mailto:example@gmail.com"
              class="flex gap-4 hover:underline"
            >
              <MailIcon />
              <span>sithy@trc.gov.kh</span>
            </a>
          </li>
          <li>
            <a
              href="https://maps.app.goo.gl/yuvUgYoDwGXfJ3nz9"
              target="_blank"
              rel="noopener noreferrer"
              class="flex gap-4 hover:underline"
            >
              <MapPinIcon />
              <span>{t("footer.address")}</span>
            </a>
          </li>
        </ul>
      </address>
      <nav class="grid gap-4">
        <TextElement variant="mediumtitle"
          >{t("footer.quickLink")}
        </TextElement>
        <ul class="grid gap-4">
          {
            quickLinks.map((item) => (
              <li>
                <a href={item.href} class="hover:underline">
                  {item.label}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
      <nav>
        <TextElement variant="mediumtitle" className="mb-4"
          >{t("footer.followUs")}
        </TextElement>
        <SocialMedia />
      </nav>
    </div>
  </div>
  <Separator className="h-[2px] w-full bg-secondary" />
  <div class="flex items-center justify-center px-4 py-12 lg:p-8 2xl:px-16">
    <p>
      © {t("footer.copyright")}
    </p>
  </div>
</footer>
