---
import { getLocalizedRoutes, NavRoutes } from "@/lib/route";

import SocialMedia from "./footer/SocialMedia";
import { MailIcon, MapPinIcon, PhoneIcon } from "./footer/SocialMediaLinks";
import { Separator } from "./ui/separator";
import { defaultLang } from "@/i18n/ui";

const locale = Astro.currentLocale ?? defaultLang;

const navigationItems = getLocalizedRoutes(NavRoutes, locale);

const quickLinks = navigationItems
  .flatMap((item) => item.children || [])
  .filter(
    (child) =>
      child.href === "/km/resources/mobile-prefixes/" ||
      child.href === "/km/resources/common-codes/" ||
      child.href === "/km/resources/emergency-numbers/",
  );
---

<footer class="mt-auto w-auto bg-primary text-primary-foreground">
  <div class="w-full p-8">
    <div class="flex flex-col gap-12 lg:flex-row lg:justify-center">
      <div class="grid gap-12 lg:w-3/4 lg:grid-cols-5">
        <address class="not-italic lg:col-span-2">
          <h2 class="mb-4 text-lg font-semibold">
            Telecommunication Regulator of Cambodia
          </h2>
          <ul class="space-y-3">
            <li>
              <a href="tel:+85594858349751" class="flex hover:underline">
                <PhoneIcon />
                <span class="ml-4">6789 (Hotline) / (855) 23 722 333</span>
              </a>
            </li>
            <li>
              <a href="mailto:example@gmail.com" class="flex hover:underline">
                <MailIcon />
                <span class="ml-4">info@trc.gov.kh</span>
              </a>
            </li>
            <li>
              <a
                href="https://maps.app.goo.gl/yuvUgYoDwGXfJ3nz9"
                target="_blank"
                rel="noopener noreferrer"
                class="flex hover:underline"
              >
                <MapPinIcon />
                <span class="ml-4"
                  >Street 102, Sangkat Wat Phnom, Khan Daun Penh, Phnom Penh</span
                >
              </a>
            </li>
          </ul>
        </address>
        <div class="hidden lg:col-span-1 lg:flex"></div>
        <nav class="lg:col-span-1">
          <h2 class="mb-4 text-lg font-semibold">Quick Links</h2>
          <ul class="space-y-3">
            {
              quickLinks.map((item) => (
                <li>
                  <a href={item.href} class="hover:underline">
                    {item.label}
                  </a>
                </li>
              ))
            }
          </ul>
        </nav>
        <SocialMedia />
      </div>
    </div>
  </div>
  <Separator className="h-[2px] w-full bg-secondary" />
  <div class="flex items-center justify-center px-4 py-12 lg:p-8 2xl:px-16">
    <p>
      © All right reserved by Telecommunication Regulator of Cambodia - T.R.C
    </p>
  </div>
</footer>
