---
import { getLocalizedRoutes, NavRoutes } from "@/lib/route";

import MobileNavMenu from "@/components/header/MobileNavMenu";

import { NavMenu } from "./header/NavMenu";
import LanguageSwitcher from "./LanguageSwitcher";
import TRCHorizontalSubtitleBlue from "@/asset/logo/TRC-Horizontal-Subtitle-Blue.png";
import { defaultLang, type SupportedLanguage } from "@/i18n/ui";
import { Image } from "astro:assets";
import { getRelativeLocaleUrl } from "astro:i18n";

const locale = Astro.currentLocale ?? defaultLang;
const currentPath = Astro.url.pathname;

const navigationItems = getLocalizedRoutes(NavRoutes, locale);
---

<a
  class="bg-primary text-primary-foreground absolute left-0 m-3 -translate-y-16 p-3 transition focus:translate-y-0"
  href="#main-content">Skip Navigation</a
>
<nav class="bg-primary-foreground shadow-md" aria-label="Main navigation">
  <div class="flex w-full items-center gap-2 p-6 sm:gap-4 lg:px-8 2xl:px-16">
    <a href={getRelativeLocaleUrl(locale)} aria-label="Go to home page">
      <Image
        src={TRCHorizontalSubtitleBlue}
        alt=""
        class="w-56 min-w-56 object-cover md:w-60 lg:w-72"
        loading="eager"
        quality="high"
        format="webp"
      />
    </a>
    <div class="grow md:flex lg:hidden"></div>
    <NavMenu client:load />
    <div class="flex w-fit p-2 align-middle">
      <LanguageSwitcher
        currentPath={currentPath}
        initialLocale={locale as SupportedLanguage}
        client:load
      />
    </div>
    <MobileNavMenu navMenuItem={navigationItems} client:load />
  </div>
</nav>
