---
import { toKhmerNumerals } from "@/lib/date-helper";

import PaginationComponent from "@/components/PaginationComponent.astro";
import TextElement from "@/components/TextElement";

import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import type { Page } from "astro";

interface Props {
  page: Page;
}

const { page } = Astro.props;
const lang = getLangFromUrl(Astro.url.pathname);
const t = useTranslations(lang);

const dateFormat = (num: number) => {
  return lang === "km" ? toKhmerNumerals(`${num}`) : num;
};
---

<div
  aria-label="Pagination"
  class="mt-12 flex items-center justify-center gap-10"
>
  <TextElement variant="body" className="hidden lg:inline-block">
    {t("showing")}<span> {dateFormat(page.start + 1)} </span>
    {
      page.end !== page.start && (
        <span>
          {t("to")} {dateFormat(page.end + 1)}
        </span>
      )
    }
    {t("of")}
    <span> {dateFormat(page.total)}</span>
  </TextElement>
  <PaginationComponent page={page} />
</div>
