---
import PaginationComponent from "@/components/PaginationComponent.astro";
import TextElement from "@/components/TextElement";

import type { Page } from "astro";

interface Props {
  page: Page;
}

const { page } = Astro.props;
console.log(page);
---

<div
  aria-label="Pagination"
  class="mt-12 flex items-center justify-center gap-10"
>
  <TextElement variant="paragraph" className="hidden lg:inline-block">
    Showing<span> {page.start + 1}</span>
    {page.end !== page.start && <span>to {page.end + 1}</span>}
    of <span>{page.total}</span>
  </TextElement>
  <PaginationComponent page={page} />
</div>
