---
import UnitLinkCard from "./UnitLinkCard.astro";
import CADTLogo from "@/asset/logo/CADT.png";
import CPLogo from "@/asset/logo/Cambodia-Post-Logo.png";
import MPTCLogo from "@/asset/logo/MPTC.png";
import TCLogo from "@/asset/logo/Telecom-Cambodia.svg";
import { getLangFromUrl } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url.pathname);

const ExternalLinksEN = [
  {
    label: "Ministry of Post and Telecommunications",
    link: "https://mptc.gov.kh",
    image: MPTCLogo,
  },
  {
    label: "Telecom Cambodia",
    link: "http://tc.com.kh",
    image: TCLogo,
  },
  {
    label: "Cambodia Post",
    link: "https://cambodiapost.com.kh/",
    image: CPLogo,
  },
  {
    label: "Cambodia Academy of Digital Technology",
    link: "https://www.cadt.edu.kh/",
    image: CADTLogo,
  },
];
const ExternalLinksKH = [
  {
    label: "ក្រសួងប្រៃសណីយ៍និងទូរគមនាគមន៍",
    link: "https://mptc.gov.kh",
    image: MPTCLogo,
  },
  {
    label: "ទូរគមនាគមន៍កម្ពុជា",
    link: "http://tc.com.kh",
    image: TCLogo,
  },
  {
    label: "ប្រៃសណីយ៍កម្ពុជា",
    link: "https://cambodiapost.com.kh/",
    image: CPLogo,
  },
  {
    label: "បណ្ឌិត្យសភាបច្ចេកវិទ្យាឌីជីថលកម្ពុជា",
    link: "https://www.cadt.edu.kh/",
    image: CADTLogo,
  },
];

const ExternalLinks = lang === "en" ? ExternalLinksEN : ExternalLinksKH;
---

<nav>
  <ul
    class="grid list-none grid-cols-2 gap-6 py-5 md:grid-cols-2 md:gap-10 md:py-10 lg:grid-cols-4 lg:py-20"
  >
    {
      ExternalLinks.map((item) => (
        <li>
          <UnitLinkCard
            label={item.label}
            image={item.image}
            link={item.link}
          />
        </li>
      ))
    }
  </ul>
</nav>
