---
import Main from "@/components/Main.astro";
import AboutTRC from "@/components/page/about/About-TRC.astro";
import AboutList from "@/components/page/about/AboutList.astro";
import ChairmanKeynote from "@/components/page/about/Chairman’s-Keynote.astro";
import VisionMission from "@/components/page/about/Vision-&-Mission.astro";
import TextElement from "@/components/TextElement";

import { ABOUT_TYPES } from "@/content/about.type";
import { languages, type SupportedLanguage } from "@/i18n/ui";
import { useTranslations } from "@/i18n/utils";
import OrganizationLayout from "@/layouts/OrganizationLayout.astro";
import { getCollection } from "astro:content";
import enAboutUs from "src/static/about-us/en-about-us.webp";
import kmAboutUs from "src/static/about-us/km-about-us.webp";

export async function getStaticPaths() {
  return Object.keys(languages).map((lang) => ({
    params: { lang },
  }));
}

const lang = Astro.params.lang as SupportedLanguage;
const t = useTranslations(lang);
const allAbouts = await getCollection("abouts");
const abouts = allAbouts.filter((about) => about.data.lang === lang);
const roles = abouts.filter((about) => about.data.type === ABOUT_TYPES.ROLE);

const langImages = {
  en: enAboutUs,
  km: kmAboutUs,
};

const currentImage = langImages[lang] || enAboutUs;

const title = "Explore DSC";
const description =
  "Learn about the Digital Security Committee's strategic goals, roles, and responsibilities in developing Cambodia's digital government policy for 2022-2035.";

const committeeList = [
  "Digital Economy and Business Committee (Established 2021)",
  "Digital Government Committee (Established 2022)",
  "Digital Security Committee (Established 2024)",
];
---

<OrganizationLayout
  title={title}
  description={description}
  image={currentImage.src}
>
  <Main>
    <div class="container flex flex-col gap-12">
      <section aria-label={"about dsc"}>
        <div>
          <TextElement variant="subheading" className="text-center">
            Telecommunication Regulator of Cambodia
          </TextElement>
        </div>
      </section>
      <section aria-labelledby="vision">
        <TextElement variant="smallheading" className="pb-5">
          Chairman’s Keynote
        </TextElement>
        <ChairmanKeynote />
      </section>
      <hr class="mx-auto w-[15rem] border border-yellow-500 lg:w-[50rem]" />
      <section aria-labelledby="mission">
        <TextElement variant="smallheading" className="pb-5">
          Vision & Mission
        </TextElement>
        <VisionMission />
      </section>
      <hr class="mx-auto w-[15rem] border border-yellow-500 lg:w-[50rem]" />
      <section aria-labelledby="about">
        <TextElement variant="smallheading" className="pb-5">
          About TRC
        </TextElement>
        <AboutTRC />
      </section>
    </div>
  </Main>
</OrganizationLayout>
