---
import Main from "@/components/Main.astro";
import AboutTRC from "@/components/page/about/About-TRC.astro";
import ChairmanKeynote from "@/components/page/about/Chairman’s-Keynote.astro";
import VisionMission from "@/components/page/about/Vision-&-Mission.astro";
import TextElement from "@/components/TextElement";
import { languages, type SupportedLanguage } from "@/i18n/ui";
import OrganizationLayout from "@/layouts/OrganizationLayout.astro";
import enAboutUs from "src/static/about-us/en-about-us.webp";
import kmAboutUs from "src/static/about-us/km-about-us.webp";

export async function getStaticPaths() {
  return Object.keys(languages).map((lang) => ({
    params: { lang },
  }));
}

const lang = Astro.params.lang as SupportedLanguage;

const langImages = {
  en: enAboutUs,
  km: kmAboutUs,
};

const currentImage = langImages[lang] || enAboutUs;

const title = "Explore DSC";
const description =
  "Learn about the Digital Security Committee's strategic goals, roles, and responsibilities in developing Cambodia's digital government policy for 2022-2035.";


---

<OrganizationLayout
  title={title}
  description={description}
  image={currentImage.src}
>
  <Main>
    <div class="container flex flex-col gap-12">
      <section aria-label={"about"}>
        <div>
          <TextElement variant="subheading" className="text-center">
            Telecommunication Regulator of Cambodia
          </TextElement>
        </div>
      </section>
      <section aria-labelledby="chairman’s-keynote">
        <TextElement variant="smallheading" className="pb-5">
          Chairman’s Keynote
        </TextElement>
        <ChairmanKeynote />
      </section>
      <hr class="mx-auto w-[15rem] border border-yellow-500 lg:w-[50rem]" />
      <section aria-labelledby="vision-&-mission">
        <TextElement variant="smallheading" className="pb-5">
          Vision & Mission
        </TextElement>
        <VisionMission />
      </section>
      <hr class="mx-auto w-[15rem] border border-yellow-500 lg:w-[50rem]" />
      <section aria-labelledby="about-trc">
        <TextElement variant="smallheading" className="pb-5">
          About TRC
        </TextElement>
        <AboutTRC />
      </section>
    </div>
  </Main>
</OrganizationLayout>
